body {
	background-color: #282828;
	width: 1010px;
	margin: auto;
	font-size: 13px;
}
#header {
	margin-top: 5px;
	margin-bottom: 0px;
	background-color: #363636;
	border: 1px solid #939393;
	color: #e4e4e4;
	height: 70px;
}
#header img {
	width: 152px;
	height: 101px;
	position: absolute;
	left: 10px;
	top: 10px;
}
#header h1 {
	font-size: 21px;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
}
#header h2 {
	font-size: 16px;
	margin: 0px;
}
#header hr {
	border-top: 1px dotted #939393;
	margin: 0px;
	margin-top: 10px;
}
#user_infos p {
	margin: 0px;
	margin-top: 10px;
	font-size: 11px;
}
#body {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	background-color: #fcfcfc;
	border: 1px solid #939393;
}
#login {
	width: 65%;
	margin: auto;
}
#login form {
	width: 100%;
}
#menu {
	margin-top: 40px;
}
#footer {
	color: #e4e4e4;
	text-align: center;
	background-color: #363636;
	border: 1px solid #939393;
	color: #e4e4e4;
	padding-top: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.panel-default > .panel-body {
	background-color: #ffffff;
}
.panel-default > .panel-heading {
	background-color: #d6d6d6;
}
th {
	background-color: #d6d6d6;
}
table {
	margin-top: 10px;
	font-size: 13px;
}
.actions {
	background-color: #d6d6d6;
	white-space: nowrap;
	width: 1px;
}
.actions form {
	margin: 0;
}
.actions button, .actions a {
	padding: 0px;
}
.button-right {
	position: relative;
	left: 25%;
}
#pagination {
	width: 100%;
	display: inline-block;
	text-align: center;
}
.edit-infos {
	text-align: right;
	font-size: 11px;
}